* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-default;
	font-size: 16px;
	color: $dark;
}

.container {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.main {
	min-height: 100vh;
	display: flex;

	&__col {
		display: flex;
		flex-direction: column;

		&--31vw {
			width: 31vw;
		}
	
		&--34vw {
			width: 34.5vw;
		}
	}

	&__cell {
		height: 50vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&--girl {
			background-image: url(/assets/img/main-girl.jpg);
		}

		&--blue-light {
			background-color: $blue-light;
		}

		&--sea {
			background-image: url(/assets/img/main-sea.jpg);
		}

		&--blue-dark {
			background-color: $blue-dark;
		}

		&--39vh {
			height: 39vh;
		}

		&--pool {
			background-image: url(/assets/img/main-pool.jpg);
		}
	}

	&__subtitle {
		font-family: 'Inter-300';
		font-size: 1.5rem;
		line-height: 1.8125rem;
		color: $gray;
		text-align: center;
	}
	
	&__content {
		height: 61vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		display: flex;
		list-style: none;
		padding-top: 62px;

		li {
			display: flex;
			align-items: center;
			
			&::after {
				content: '';
				display: inline-flex;
				align-items: center;
				height: 21px;
				width: 1px;
				background-color: $dark;
				margin-right: 6px;
			}
			
			&:last-child {
				
				&::after {
					content: '';
					display: none;
				}
			}
		}
	}

	&__link	{
		font-size: 1rem;
		line-height: 1.125rem;
		text-decoration: none;
		color: $dark;
		margin-right: 6px;
		transition: color 0.4s ease-in-out;

		&:hover {
			color: $gray-dark;
			transition: color 0.4s ease-in-out;
		}
	}

	&__title {
		font-family: 'Inter-600';
		font-size: 3.125rem;
		line-height: 3.4rem;
		text-align: center;
		margin-bottom: 130px;
	}
}

.rooms {
	padding: 80px;
	background-color: $gray;

	&__video {
		height: 33vh;
		width: 31vw;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 40px;
	}

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: 240px;
		margin-bottom: 30px;

		&--center {
			justify-content: center;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		font-family: "Inter-600";
		font-size: 4rem;
		line-height: 4.375rem;
		text-transform: uppercase;
		margin-top: 18px;
	}

	&__text {
		font-family: "Inter-300";
		font-size: 1.125rem;
		line-height: 1.375rem;
		max-width: 349px;
		margin-top: 35px;
	}

	&__img {
		height: 33vh;
		width: 31vw;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&--salt {
			background-image: url(/assets/img/video-preview.jpg);
		}

		&--girl {
			background-image: url(/assets/img/rooms-girl.jpg);
		}

		&--mask {
			background-image: url(/assets/img/rooms-mask.jpg);
		}
	}

	&__pos {
		position: relative;
		right: 48.1%;
		transform: translateX(50%);
	}
}

.gallery {
	padding: 80px;
	min-height: 100vh;

	&__wrapper {
		height: calc(100vh - 160px);
		background-color: $gray;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 80px 0;
	}

	&__inner {
		width: 50vw;
		height: calc(100vh - 320px);
		background:  url(/assets/img/gallery-people.jpg) center right / 50% 100% no-repeat;
		display: flex;
		align-items: center;
	}

	&__title {
		font-family: "Inter-500";
		font-size: 3rem;
		line-height: 3.25rem;
		max-width: 70%;
		color: #fff;
		mix-blend-mode: difference;
	}
}

.contacts {
	display: grid;
	min-height: 100vh;
	grid-template-columns: 34.3vw 1fr 1fr 1fr;
	grid-template-rows: 50vh;

	&__cell {
		display: flex;
		align-items: center;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&--gray {
			background-color: $gray;
		}

		&--pool {
			background-image: url(/assets/img/contacts-pool.jpg);
		}

		&--blue-light {
			background-color: $blue-light;
		}

		&--lounge {
			background-image: url(/assets/img/contacts-lounge.jpg);
		}

		&--blue-dark {
			background-color: $blue-dark;
		}

		&--sand {
			background-image: url(/assets/img/contacts-sand.jpg);
		}
	}

	&__title {
		font-family: 'Inter-600';
		font-size: 3.125rem;
		line-height: 3.4rem;
		margin-top: 30px;
		margin-left: 60px;
	}

	&__text {
		font-family: "Inter-300";
		font-size: 1.125rem;
		line-height: 1.325rem;
		color: $gray;
		margin: 0 38px;
	}

	&__nav {
		display: flex;
		align-self: flex-end;
		flex-direction: column;
		list-style: none;
		margin-left: 60px;
		margin-bottom: 60px;

		&--mr {
			margin-left: auto;
			margin-right: 60px;	
		}
	}

	&__link	{
		display: inline-block;
		font-size: 1rem;
		line-height: 1.125rem;
		text-decoration: none;
		color: $dark;
		margin-bottom: 10px;
		transition: color 0.4s ease-in-out;

		&:hover {
			color: $gray-dark;
			transition: color 0.4s ease-in-out;

			svg {
				fill: $gray-dark;
				rect {
					stroke: $gray-dark;
				}
			}
		}
	}
}