{% extends "layout/base.twig" %}

{% set title = "SeaSide SPA & Resort" %}


{% block content %}

	<div class="container">
		{% include 'partials/main.twig' %}
		{% include 'partials/rooms.twig' %}
		{% include 'partials/gallery.twig' %}
	</div>
  
{% endblock %}
