<section class="contacts" id="contacts">
  <div class="contacts__cell contacts__cell--gray">
    <h1 class="contacts__title">SeaSide <br>SPA & Resort</h1>
  </div>
  <div class="contacts__cell contacts__cell--pool"></div>
  <div class="contacts__cell contacts__cell--blue-light">
    <p class="contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa ultricies aliquam egestas amet mi aliquam. Eu, vel massa elementum nulla.</p>
  </div>
  <div class="contacts__cell contacts__cell--lounge"></div>

  <div class="contacts__cell contacts__cell--gray">
    <nav class="contacts__nav">
      <li><a href="#about" class="contacts__link">About</a></li>
      <li><a href="#rooms" class="contacts__link">Rooms</a></li>
      <li><a href="#gallery" class="contacts__link">Gallery</a></li>
      <li><a href="#contacts" class="contacts__link">Contacts</a></li>
    </nav>
  </div>
  <div class="contacts__cell contacts__cell--blue-dark">
    <p class="contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa ultricies aliquam egestas amet mi aliquam. Eu, vel massa elementum nulla.</p>
  </div>
  <div class="contacts__cell contacts__cell--sand"></div>
  <div class="contacts__cell contacts__cell--gray">
    <nav class="contacts__nav contacts__nav--mr">
      <li>
        <a href="#" class="contacts__link">
          <img src="/assets/img/facebook.svg" alt="facebook">
        </a>
      </li>
      <li>
        <a href="#" class="contacts__link">
          <img src="/assets/img/instagram.svg" alt="instagram">
        </a>
      </li>
      <li>
        <a href="#" class="contacts__link">
          <img src="/assets/img/youtube.svg" alt="youtube">
        </a>
      </li>
      <li>
        <a href="#" class="contacts__link">
          <img src="/assets/img/twitter.svg" alt="twitter">
        </a>
      </li>
    </nav>
  </div>
</section>

<section class="contacts-tablet" id="contacts">
  <div class="contacts-tablet__left">
    <div class="title"><h1 class="title__title">SeaSide <br>SPA & Resort</h1></div>
    <div class="contacts__cell contacts__cell--blue-dark blue-dark">
      <p class="contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa ultricies aliquam egestas amet mi aliquam. Eu, vel massa elementum nulla.</p>
    </div>
    <div class="contacts__cell contacts__cell--lounge lounge"></div>
    <div class="contacts__cell contacts__cell--blue-light blue-light">
      <p class="contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa ultricies aliquam egestas amet mi aliquam. Eu, vel massa elementum nulla.</p>
    </div>
  </div>
  <div class="contacts-tablet__right">
    <div class="contacts__cell contacts__cell--pool"></div>
    <div class="contacts__cell contacts__cell--sand"></div>
    <div class="contacts-tablet__cell contacts__cell--gray">
      <nav class="contacts__nav">
        <li>
          <a href="#" class="contacts__link">
            <img src="/assets/img/facebook.svg" alt="facebook">
          </a>
        </li>
        <li>
          <a href="#" class="contacts__link">
            <img src="/assets/img/instagram.svg" alt="instagram">
          </a>
        </li>
        <li>
          <a href="#" class="contacts__link">
            <img src="/assets/img/youtube.svg" alt="youtube">
          </a>
        </li>
        <li>
          <a href="#" class="contacts__link">
            <img src="/assets/img/twitter.svg" alt="twitter">
          </a>
        </li>
      </nav>
    </div>
  </div>
</section>