<section class="main" id="about">
	<div class="main__col main__col--34vw">
		<div class="main__cell main__cell--girl">

		</div>
		<div class="main__cell main__cell--blue-light">
			<h2 class="main__subtitle">Enjoy your <br> holidays</h2>
		</div>
	</div>
	<div class="main__col main__col--31vw">
		<div class="main__content">
			<nav class="main__nav">
				<li><a href="#about" class="main__link">About</a></li>
				<li><a href="#rooms" class="main__link">Rooms</a></li>
				<li><a href="#gallery" class="main__link">Gallery</a></li>
				<li><a href="#contacts" class="main__link">Contacts</a></li>
			</nav>

			<a href="#" class="main__burger"><img src="/assets/img/main-burger.png" alt="Menu"></a>

			<h1 class="main__title">SeaSide <br>SPA & Resort</h1>
		</div>
		<div class="main__cell main__cell--39vh main__cell--pool"></div>
	</div>
	<div class="main__col main__col--34vw">
		<div class="main__cell main__cell--sea">

		</div>
		<div class="main__cell main__cell--blue-dark">
			<h2 class="main__subtitle">Compassionate& <br> Considerate</h2>
		</div>
	</div>
</section>
