<section class="modal">
  <div class="modal__body">
    <h1 class="modal__title">SeaSide <br> SPA & Resort</h1>
    <nav class="modal__nav">
      <li><a href="#about" class="modal__link">About</a></li>
      <li><a href="#rooms" class="modal__link">Rooms</a></li>
      <li><a href="#gallery" class="modal__link">Gallery</a></li>
      <li><a href="#contacts" class="modal__link">Contacts</a></li>
    </nav>
    <nav class="modal__nav modal__nav--row">
      <li>
        <a href="#" class="modal__link">
          <img src="/assets/img/facebook.svg" alt="facebook">
        </a>
      </li>
      <li>
        <a href="#" class="modal__link">
          <img src="/assets/img/instagram.svg" alt="instagram">
        </a>
      </li>
      <li>
        <a href="#" class="modal__link">
          <img src="/assets/img/youtube.svg" alt="youtube">
        </a>
      </li>
      <li>
        <a href="#" class="modal__link">
          <img src="/assets/img/twitter.svg" alt="twitter">
        </a>
      </li>
    </nav>
  </div>
</section>