<section class="rooms" id="rooms">
    <div class="rooms-tablet-desctop">
        <div class="rooms__wrapper rooms__wrapper--center video">
            <div class="rooms__inner">
                <video class="rooms__video" src="/video/video.mp4"></video>
                <div class="rooms__img rooms__img--salt">
                    <a href="#" class="rooms__play">watch video</a>
                </div>
            </div>
        </div>
        <div class="rooms__wrapper title">
            <h2 class="rooms__title">WE HAVE <br> WONDERFULL <br> SPA</h2>
            <div class="rooms__img rooms__img--girl"></div>
        </div>
        <div class="rooms__wrapper description">
            <p class="rooms__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa ultricies aliquam egestas amet mi aliquam. Eu, vel massa elementum nulla. Egestas cras ut fames pulvinar placerat tortor mi. Id diam, mattis egestas sed in.</p>
            <div class="rooms__img rooms__img--mask rooms__pos"></div>
        </div>
    </div>
    <div class="rooms-mobile">
        <h2 class="rooms__title">WE HAVE <br> WONDERFULL <br> SPA</h2>
        <div class="rooms__inner">
            <video class="rooms__video" id="rooms__video" src="/video/video.mp4"></video>
            <div class="rooms__img rooms__img--salt">
                <a href="#" class="rooms__play" id="rooms__play">watch video</a>
            </div>
        </div>
        <p class="rooms__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa ultricies aliquam egestas amet mi aliquam. Eu, vel massa elementum nulla. Egestas cras ut fames pulvinar placerat tortor mi. Id diam, mattis egestas sed in.</p>
        <div class="rooms__img rooms__img--girl"></div>
    </div>
</section>