<section class="rooms">
    <div class="rooms__wrapper rooms__wrapper--center">
        <div class="rooms__video">
            <div class="rooms__img rooms__img--salt"></div>
        </div>
    </div>
    <div class="rooms__wrapper">
        <h2 class="rooms__title">WE HAVE <br> WONDERFULL <br> SPA</h2>
        <div class="rooms__img rooms__img--girl"></div>
    </div>
    <div class="rooms__wrapper">
        <p class="rooms__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa ultricies aliquam egestas amet mi aliquam. Eu, vel massa elementum nulla. Egestas cras ut fames pulvinar placerat tortor mi. Id diam, mattis egestas sed in.</p>
        <div class="rooms__img rooms__img--mask rooms__pos"></div>
    </div>
</section>